apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-models
  namespace: rag-local
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: standard
